.page-home {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 70vw;
}

#greeting {
    border: 2px solid black;
    padding: 20px;
    margin: 15px 0;
}
