header {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

    margin-bottom: 25px;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 600px;
    /* border: red 1px solid; */
}

a {
    text-decoration: none;
    color: white;
}

